body{
  background-color: rgb(250, 250, 250);
}

.homePageLayout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.workSpace {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
}

.categorySectionLayout {
  display: flex;
  margin-top: 20px;
}
.categorySection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 70px;
  max-width: 450px;
  background-color: rgb(255, 255, 255);
  margin-left: 400px;
  margin-bottom: 40px;
  margin-top: 240px;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.body {
  margin: 0;
  padding: 0;
}
