.segment{
    display: flex;
    background: #f6f6f6;
    padding: 5px;
    border-radius: 10px;
}

.segmentButton{
    border:none;
    background:transparent;
    padding:10git px 12px;
    font-size: 10px;
    color:#9a9ab3;
    border-radius:12px;
    cursor: pointer;
    transition:0.2s;
}

.segmentButton.active{
  background: #1d1a39;      /* dark navy */
  color: white;
  font-weight: 500;
}