.categoryCardImageBackground{
    height:50px;
    width:50px;
    border-radius:50%;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}


.categoryButton{
    border:none;
    background-color:none;
}
.categoryCardImage{
    height:30px;
    width: 30px;
    border-radius: 0%;
    

}

.categoryCardLayout{
    display: flex;
    flex-direction : row;
    justify-content: flex-start;
    text-align: left;
    gap: 10px;   
    align-items: center;

}


.categoryCardLayout p {
    margin: 0;
}

.categoryCardText {                   
    display: flex;
    align-items: center;
}

.categoryText{
    font-size:15px;
    font-weight: 600;
    letter-spacing:0px;
}
