
.homeCard {
  position: relative;          
  height: 420px;
  background-color: rgb(83, 74, 150);
  margin-left: 20%;
  padding-left: 20px;
  display: flex;
  align-items: flex-start;         

;          
        
}


.homeCardText {
  position: relative;          
  z-index: 2;                 
  max-width: 40%;              
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-left:10px;                  
}


.imageContainer {
  position: absolute;          
  top:0;                    
  left: 53%;                   
transform: translateX(-50%);
  
  z-index: 1;                
  display: flex;
  justify-content: center;
  align-items: center;
}


.doctorImage {
  height: 420px;              
  object-fit: contain;
               
}
