


.sideNavBarContainer {
  width: 20%;
  height: 100vh;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding-left : 6px;
  text-align: center;
  position: fixed;
  border-left: 4px solid #000000;
  justify-content: space-between;
  margin-top: 40px;
  
  
}

.sideNavBar {
  display: flex;
  flex-direction: column;
  gap:30px;
}

.navBarItem {
  text-decoration: none;
  display: block;
  color: #333;
  padding: 10px;
  border-radius: 10px;
}

.branding {
  margin-bottom: 45px;
}

.title {
  font-size: 30px;
  margin: 0;
}

.title span {
  color: #4e3ec7ff;
}
.subtitle {
  color: grey;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.navBarItem:hover {
  background-color: #bab3f7;
  color: #0d0b18;
}

.navBarItem.active {
  background-color: #4e3ec7ff;
  color: white;
}

.logOutButton{
   margin-bottom:40px;
   padding:6px;
  width:150px;
  border: none;
  color:#837e7e
 
}
.signOutIcon{
  margin-right:10px;
   
}